<h1>Hand, Knee, Foot Scoring</h1>

<div class="container">
  <input type="checkbox" id="qualified" /><label for="qualified">Qualified</label>
  <p/>
  <input type="text" id="total_points" value="10300" />
</div>
